.background {
  fill: black;
}

.minutes {
  font-size: 80;
  font-family: Colfax-Regular;
}

.current {
/*   fill: green;   */
}

.upcoming {
/*   fill: blue; */
}

text {
  fill: white;
  text-length: 50;
}

textarea {
  fill: white;
  text-length: 50;
}

.aux-data {
  font-size: 24;
  font-family: Colfax-Regular;
}

#activity {
  fill: #2490dd;
  width: 24;
  height: 24;
  x: 2%;
  y: 90%;
}


#hours {
  font-size: 80;
  font-family: Colfax-Bold;
  x: 2%;
  y: 22%;
}
#hoursNext {
  font-size: 80;
  font-family: Colfax-Bold;
  x: 102%;
  y: 22%;
}

#tens {
  x: 2%;
  y: 48%;
}

#tensNext {
  x: 102%;
  y: 48%;
}

#minutes {
  x: 2%;
  y: 74%;
}

#minutesNext {
  x: 102%;
  y: 74%;
}

#heartrate {
  x: 2%;
  y: 86%;
}

#stepcount {
  x: 36;
  y: 97%;
}

#dayofweek {
  x: 98%;
  y: 86%;
  text-anchor: end;
}

#date {
  x: 98%;
  y: 97%;
  text-anchor: end;
}